<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MOVIEHUB</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.moviehub.web.controller.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.moviehub.web.controller.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>com.moviehub.web.controller.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentservlet</display-name>
    <servlet-name>paymentservlet</servlet-name>
    <servlet-class>com.moviehub.web.controller.paymentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentservlet</servlet-name>
    <url-pattern>/paymentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payservlet</display-name>
    <servlet-name>payservlet</servlet-name>
    <servlet-class>com.moviehub.web.controller.payservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payservlet</servlet-name>
    <url-pattern>/payservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payments1ervlet</display-name>
    <servlet-name>payments1ervlet</servlet-name>
    <servlet-class>com.moviehub.web.controller.payments1ervlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payments1ervlet</servlet-name>
    <url-pattern>/payments1ervlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee</display-name>
    <servlet-name>employee</servlet-name>
    <servlet-class>com.moviehub.web.controller.employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
</web-app>