@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.main,
.sub {
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #ffcc00;
  margin-top: 60px;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.sub {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-top: 8px;
  text-transform: unset;
  font-weight: 500;

}
