  .seat-container .seats {
    width: 100%;
    position: relative;
    z-index: 1;
    zoom: 1;
    padding: 50px 30px;
    background: #fafafa;
}
  .seat-container .seats:after,
  .seat-container .seats:before {
    content: " ";
    display: table;
    line-height: 0;
}
  .seat-container .seats:after {
    clear: both;
}
  .seat-container .seats .__block {
    padding-bottom: 20px;
    width: 100%;
}
  .seat-container .seats .__block > div {
    width: 550px;
    margin: 0 auto;
}
  .seat-container .seats .__block > div table {
    z-index: 1;
    width: 100%;
}
  .seat-container .seats .__block > div table .PriceB1 {
    position: relative;
    z-index: 1;
}
  .seat-container .seats .__block > div table a {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    color:  #fcc42d;
    text-align: center;
    font-size: 10px;
}
  .seat-container .seats .__block > div table a._available {
    border: 1px solid  #fcc42d;
}
  .seat-container .seats .__block > div table a._available:hover {
    background:  #fcc42d;
    color: #fff;
}
  .seat-container .seats .__block > div table a._best {
    border: 1px solid #fcc42d;
    color: #fcc42d;
    box-shadow: inset 0 0 3px 3px #fcc42d;
}
  .seat-container .seats .__block > div table a._best:hover {
    background: #fcc42d;
    color: #fff;
    border: 1px solid #fcc42d;
}
  .seat-container .seats .__block > div table a._best._selected {
    color: #fff;
    background-color:  #fcc42d !important;
    border-color:  #fcc42d;
    box-shadow: none;
}
  .seat-container .seats .__block > div table a._blocked {
    background: #eee !important;
    cursor: default;
    color: #fff !important;
}
  .seat-container .seats .__block > div table a._seat-ranking-shadow {
    box-shadow: 0 0 0 0 rgba(73, 186, 142, 0.7);
    transition: box-shadow 1.5s ease-in-out;
    -webkit-transition: box-shadow 1.5s ease-in-out;
    -moz-transition: box-shadow 1.5s ease-in-out;
}
  .seat-container .seats .__block > div table a.add-shadow {
    box-shadow: 0 0 3px 3px rgba(73, 186, 142, 0.7);
}
  .seat-container .seats .__block > div table a._selected {
    color: #fff;
    background-color:  #fcc42d !important;
    border-color:  #fcc42d;
}
  .seat-container .seats .__block > div table .seatP {
    width: 100%;
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
  .seat-container .seats .__block > div table .seat-cat-container {
    margin-left: 25px;
}
  .seat-container .seats .__block > div table .seat-cat-container .seatP {
    float: left;
}
  .seat-container .seats .__block > div table .seatP_description {
    color: #1e92d5;
    font-size: 10px;
    padding-bottom: 10px;
    text-align: center;
}
  .seat-container .seats .__block > div table .seatI {
    margin: 4px;
    float: left;
    width: 25px;
    height: 25px;
}
  .seat-container .seats .__block > div table .seatI a {
    display: inline-block;
    font-size: 10px;
    line-height: 25px;
    font-weight: 400;
    background: #fff;
    vertical-align: top;
}
  .seat-container .seats .__block > div table .seatI a._smiley {
    background-size: 21px 21px;
    background-image: url("https://in.bmscdn.com/webin/static/seatlayout-activity/xxx-icon-web.png");
    background-color: transparent;
    box-shadow: none;
    background-position: 21px 21px;
    border: 0;
}
  .seat-container .seats .__block > div table .seatI a .seat-svg-container {
    display: flex;
    height: 25px;
    width: 25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
  .seat-container .seats .__block > div table .seatI a .seat-svg-container .seat-companion,
  .seat-container .seats .__block > div table .seatI a .seat-svg-container .seat-handicapped,
  .seat-container .seats .__block > div table .seatI a .seat-svg-container .seat-social-distancing {
    width: 16px;
    height: 16px;
}
  .seat-container .seats .__block > div table .seatI a:hover .seat-svg-container .seat-companion path,
  .seat-container .seats .__block > div table .seatI a:hover .seat-svg-container .seat-handicapped path {
    fill: #ffffff;
}
  .seat-container .seats .__block > div table .seatI .popupmsg {
    position: absolute;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    box-shadow: px 1px 2px 0 rgba(0, 0, 0, 0.5);
    width: 300px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50% -50%);
    -webkit-transform: translate(-51% -51%);
    margin-bottom: 36px;
    display: none;
    z-index: 1;
}
  .seat-container .seats .__block > div table .seatI .popupmsg:before {
    width: 9px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    margin-bottom: -12px;
    margin-left: -12px;
}
  .seat-container .seats .__block > div table .seatI .popupmsg:after {
    width: 9px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    margin-bottom: -10px;
    margin-left: -10px;
}
  .seat-container .seats .__block > div table .seatI .popupmsg p {
    font-size: 12px;
    color: #666;
    text-align: left;
}
  .seat-container .seats .__block > div table .seatI:hover .popupmsg {
    display: block;
}
  .seat-container .seats .__block > div table .seatR {
    margin-right: 6px;
    margin-top: 9px;
    font-size: 14px;
    color: #b3b3b3;
}
  .seat-container .seats .__block > div.screen-this-way {
    zoom: 1;
    clear: both;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
  .seat-container .seats .__block > div.screen-this-way:after,
  .seat-container .seats .__block > div.screen-this-way:before {
    content: " ";
    display: table;
    line-height: 0;
}
  .seat-container .seats .__block > div.screen-this-way:after {
    clear: both;
}
  .seat-container .seats .__block > div.screen-this-way .__icon {
    width: 260px;
    height: 20px;
    display: block;
    margin: 50px auto 10px;
}
  .seat-container .seats .__block > div.screen-this-way .__text {
    text-align: center;
    color: #333;
    font-size: 12px;
}
  .__best-legend-message {
    display: none;
    background: #fff1cc;
    box-shadow: 0 0 10px 0 #fff1cc;
    position: fixed;
    bottom: 40px;
    left: calc(50% - 215px);
    z-index: 99;
    padding: 12px;
}

.table{
    border-collapse: collapse;
    border-spacing: 0;
}

.td{
    display: table-cell;
}